#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    width: 100%;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

header{
    width: 100%;
    min-height: 20dvh;
}

main{
    width: 100%;
    min-height: 50dvh;
    margin-bottom: 18%;
}

