#root {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    overflow-x: hidden;

}

header{
    width: 100%;
    min-height: 20dvh;
}

main{
    width: 100%;
    min-height: 50dvh;
    margin-bottom: 18%;
}

